body{
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
    background: rgba(143, 143, 143, 0.493);
}

#todo-list-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    margin-top: 20px;
    border: 3px solid;
    border-radius: 15px;
}

.deleteSubmit{
    border-radius: 18px;
    width: 100%;
    border: 1px solid;
    background-color: rgba(255, 0, 0, 0.658);
}

.delete{
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
}

#todolist{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: row;
}

#createTodoList{
    display: flex;
    position: fixed;
    margin-left: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}

.todoListForm{
    display: block;
    margin: auto 20px;
}

h4{
    margin: 0;
    padding: 0;
    color: white;
    margin: auto 20px;
    font-size: 28px;
}

.todo{
    display: none;
    margin: auto;
    width: 85%;
}

.todoForm{
    width: 80%;
}
.echoTodo{
    display: inline-block;
    border-radius: 10px;
    border: none;
    font-family: 'Bungee', cursive;
}

h2{
    font-size: 34px;
    margin: 0;
    padding: 0;
}

#formDescription{
    display:flex;
    flex-direction: column;
}

.createList{
    font-family: 'Bungee', cursive;
    height: 25px;
}

.saveList{
    height: 30px;
}

.save{
    height: 20px;
    width: 20px;
}

.updatelist{
    height: 20px;
    width: 20px;
}

#readInput{
    height: 75px;
    width: 80%;
    font-family: 'Bungee', cursive;
    margin: auto;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(59, 59, 59, 0.493);
}

#add{
    display:block;
    margin: auto;
    width: 100px;
    height: 50px;
}

h3{
    margin: auto;
}

.buttonDelete{
    margin: 1px 3px;
}

.todoStyle{
    display: flex;
}

.buttonDeleteStyle{
    margin: 14px 3px;
}

.falseIMG{
    height: 20px;
    width: 20px;
    margin: 14px;
}

.trueIMG{
    height: 20px;
    width: 20px;
    margin: 14px;
}

.updateTodoList{
    display: none;
}

.titleTodoList{
    border-radius: 10px;
    border: none;
    font-family: 'Bungee', cursive;
}